@import url('./base.less');

html {
    width: 100%;
    height: 100%;

    body {
        width: 100%;
        height: 100%;
        background: url('../images/loginBackgroundImage.jpg');
        background-size: 100% 100%;

        .nav {
            display: flex;
            justify-content: space-between;
            align-items: center;

            margin-bottom: 10px;
            padding: 0 10px;

            width: 100%;
            height: 10%;
            background-color: rgba(120, 199, 230, 0.5);
            border-radius: 5px;

            line-height: 50px;

            .bx {
                margin-right: 20px;

                font-size: 30px;

                cursor: pointer;
            }
        }

        .body {
            display: flex;

            height: 87%;


            .userAndFunction {
                margin-left: 10px;

                width: 25%;

                .user {
                    margin-bottom: 10px;
                    padding-bottom: 30px;

                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    border-radius: 5px;

                    background-color: rgba(255, 255, 255, 0.5);

                    img {
                        margin: 20px 0;
                        ;

                        width: 80px;
                        height: 80px;
                        border-radius: 50%;
                        border: 3px solid black;

                        cursor: pointer;
                    }
                }

                .function {
                    li {
                        margin-bottom: 10px;

                        height: 50px;
                        background-color: purple;
                        border-radius: 5px;

                        text-align: center;
                        line-height: 50px;

                        cursor: pointer;

                        transition: all 0.2s;
                    }

                    li:hover {
                        transform: scale(0.9);
                    }
                }
            }

            .content {
                position: relative;

                margin-left: 10px;

                width: 72%;
                height: 100%;
                border-radius: 5px;

                background-color: rgba(255, 255, 255, 0.5);

                .content-body {
                    padding: 0 20px;
                    height: 100%;

                    .frame {
                        padding: 10px 20px;

                        height: 15%;

                        box-shadow: 0 2px gray;

                        transform-style: preserve-3d;
                        perspective: 700px;

                        overflow: hidden;

                        .info {
                            
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            
                            margin-left: 120%;
                            padding: 20px;

                            width: 100%;
                            height: 100%;
                            border-radius: 5px;

                            transition: transform 0.2s, margin-left 0.5s, background-color 0.2s;

                            &:hover {
                                background-color: rgba(128, 128, 128, 0.8);
                                box-shadow: 0 2px gray;
                                transform: rotateX(30deg);
                                // margin-left: 0;
                            }

                            span {
                                color: red;
                                font-size: 25px;
                                opacity: 0;
                            }
                        }
                    }
                }

                .search {
                    position: absolute;
                    left: 10px;
                    bottom: 10px;

                    padding-left: 10px;

                    width: 8%;

                    outline: none;
                    background-color: rgba(255, 255, 255, 0.5);
                    border: 0;
                    border-radius: 5px;

                    color: grey;

                    transition: all 0.2s;
                }

                .search:focus {
                    width: 15%;
                    transform: scale(1.3) translateX(20px);
                }

                .paging {
                    position: absolute;

                    display: flex;
                    justify-content: space-around;

                    right: 10px;
                    bottom: 5px;

                    height: 5%;

                    .pages {
                        ul {
                            display: flex;
                        }
                    }

                    .page {
                        margin: 0 10px;

                        width: 25px;
                        height: 25px;
                        background-color: rgba(255, 255, 255, 0.8);

                        text-align: center;
                        line-height: 25px;
                        border-radius: 5px;

                        color: grey;

                        cursor: pointer;

                        transition: all 0.2s;
                    }

                    .page:hover {
                        transform: scale(0.8);
                    }

                    .current {
                        background-color: rgb(82, 80, 80);
                    }
                }
            }
        }

        .addNewAccount {
            position: fixed;
            left: 50%;
            top: 50%;

            width: 50%;
            height: 70%;
            background-color: rgba(128, 128, 128, 0.9);
            border-radius: 7px;

            transform: translate(-50%, -50%) scale(0);
            transition: all 0.2s;

            span {
                position: absolute;
                right: 10px;
                top: 10px;

                font-size: 25px;
            }

            form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                width: 100%;
                height: 100%;

                input {
                    margin: 10px 0;
                    padding: 0 20px;
                    width: 50%;
                    height: 15%;

                    outline: none;
                    border: 0;
                    border-radius: 10px;
                    background-color: white;

                    color: grey;
                    font-size: 18px;
                }

                select {
                    margin-top: 10px;
                    padding: 0 20px;

                    width: 50%;
                    height: 15%;

                    outline: none;
                    border: 0;
                    border-radius: 10px;
                    color: grey;
                    font-size: 18px;
                }

                .button {
                    margin: 15px 0;
                    display: flex;
                    justify-content: center;


                    width: 100%;

                    input {
                        margin: 0 15px;

                        width: 20%;
                        height: 30px;
                    }
                }
            }
        }

        .detailInfo {
            position: fixed;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            display: none;
            justify-content: center;
            align-items: center;

            width: 50%;
            height: 70%;
            border-radius: 7px;
            background-color: rgb(128, 128, 128);

            table {
                width: 80%;
                height: 80%;


                border-collapse: collapse;

                tr {
                    width: 100%;

                    td {
                        width: 50%;
                        border: 2px solid black;
                    }
                }

            }

            span {
                position: absolute;
                right: 10px;
                top: 10px;

                font-size: 25px;
            }
        }

        .loadlogo {
            position: fixed;
            top: 15%;
            left: 50%;

            padding: 5px;

            width: 40px;
            height: 40px;
            background-image: linear-gradient(to right, gray, white);
            border-radius: 50%;

            opacity: 0;

            transition: opacity 0.5s;
            animation: loadlogoRotate 1s linear infinite;

            &::after {
                content: '';

                display: block;

                width: 100%;
                height: 100%;
                background-color: #fff;
                border-radius: 50%;
            }
        }
    }
}

@keyframes loadlogoRotate {
    form {}

    to {
        transform: rotate(360deg);
    }
}